body {
    background-color: #f8f8f8;
}

.dz {
    border: dashed !important;
    border-color: #ccc;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

.cell {
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px !important;
}

.outer-cell {
    background-color:#868484;
    color: white;
}

.btn-dark {
    background-color: #393939;
}

.icon {
    color: gray !important; 
    font-size:22px !important;
}

svg {
    width: unset;
    height: unset;
}