{% load static %}

<div class="cell m-2 outer-cell">
    <div class="row m-2">
        <div class="col-md-12">
            <h5>Cleaner</h5>
            <div class="row">
                <div class="col-10 ">
                    <form action="/exec/cleaner" class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">

                            <label for="operation-cleaner" class="col-sm-3">Cleaner</label>
                            <!-- add this list from server to save its state -->
                            <select class="form-control col-sm-4" id="operation-cleaner" name="operation">
                                <option value="remove-null-value">Remove Null value</option>
                                <option value="fill-forward">Fill Forward</option>
                                <option value="fill-mean">Fill Mean</option>
                                <option value="fill-backward">Fill Backward</option>
                                <option value="fill-median">Fill Median </option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="varname" class="col-sm-3">Choose Variable: </label>
                            <select name="varname" id="" class="form-control col-sm-4"
                                value='{{ cell.data.varname|default:"" }}'>
                                {% for var in varlist %}
                                {% if var == cell.data.varname %}
                                <option value="{{ var }}" selected>{{ var }}</option>
                                {% else %}
                                <option value="{{ var }}">{{ var }} </option>>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="new_varname" class="col-sm-3">New Variable Name</label>
                            <input class="form-control col-sm-4" type="text"
                                value="{{ cell.data.new_varname|default:'' }}" name="new_varname"
                                placeholder="Enter New Variable Name">
                        </div>
                        <!-- use this as a unique cell identifier -->
                        <input type="hidden" value="{{ cell.name }}" name="cellname">

                        <div style="position: absolute; right: 1px; bottom: 1px">

                            <button type="submit" class="btn btn-light btn-lg">APPLY OPERATION</button>
                            <p style="color: green;">{{ cell.data.msg }}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>