<div class="cell m-2 ">
    <div class="row m-2">
        <div class="col-md-12 ">

            <form action="/exec/exporter" method="POST" style="display: flex; justify-content: space-between">
                {% csrf_token %}
                <div style="display: inline;">
                    <label for="varname-exporter">Choose Variable: </label>
                    <select name="varname" id="varname-exporter">
                        {% for var in varlist %}
                        <option value="{{ var }}">{{ var }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="display: inline;">

                    <label for="file-type" class="">File type</label>
                    <select name="filetype">
                        <option value="csv">CSV</option>
                        <option>SQLite</option>
                        <option value="json">json</option>
                        <!-- <option value="jso"></option> -->
                    </select>
                </div>
                <div style="display: inline;">
                    <label for="filename">File Name</label>
                    <input type="text" placeholder="Filename" name="filename">
                </div>
                <div>

                    <button type="submit">Download</button>
                </div>
            </form>


        </div>
    </div>
</div>