{% extends 'base.html' %}

{% block content %}
<!-- <h1>Data {{ name }}</h1> -->


<div class="cell m-2 loader">
    <div class="row m-2">
        <div class="col-md-12">
            <h5>Data Source</h5>
            <div class="row">
                <div class="col-4">
                    <form action="/upload" method="POST" class="dropzone dz mx-auto" id="dropzone" style="width: 100%; ">
                        {% csrf_token %}
                        <div class="fallback">
                            <input name="file" type="file" />
                        </div>
                    </form>
                </div>
                <div class="col-7">
                    <form action="/loader" method="POST">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="form-group row">
                                    <label for="file-type" class="col-sm-4">File type</label>
                                    <select class="form-control col-sm-6" name="filetype">
                                        <option>CSV</option>
                                        <option>SQLite</option>
                                        <option>xlsx</option>
                                    </select>
                                </div>
                                
                                <input class="form-control" type="text" name="variable" placeholder="Variable Name">
                                <div class="form-group mt-2">
                                    <label for="file">Choose File: </label>
                                    <select name="filename" id="">
                                        {% for file in files %}
                                        <option value="{{ file }}">{{ file }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 offset-md-2">
                                <input class="form-control" type="text" name="encoding" placeholder="Encoding">
                            </div>
                            <button type="submit" style="position: absolute; right: 1px; bottom: 1px"
                                class="btn btn-secondary btn-lg">Load Dataframe</button>
                            <h4 style="color: green;">{{ loaderMsg }}</h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="cell m-2 ">
    <div class="row m-2">
        <div class="col-md-12 ">

            <form action="/table" method="GET" style="display: inline;">
                {% csrf_token %}
                <label for="file">Choose File: </label>
                <select name="varname" id="">
                    {% for file in varlist %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Show Table</button>
            </form>

            <form action="/cols" method="GET" style="display: inline; float: right">
                {% csrf_token %}
                <button type="submit">GET COLUMNS</button>
                {{ cols }}
            </form>

        </div>
    </div>
</div> -->

{% for cell in opdata %}
    {% if currentCell == cell.name %}
        <div class="currentCell">
            {% include cell.type %}
        </div>
    {% else %}
        <div>
            {% include cell.type %}
        </div>
    {% endif %}

{% endfor %}

{% endblock %}