{% extends 'base.html' %}

{% block content %}
<!-- <h1>Data {{ name }}</h1> -->


<div class="cell m-2 loader">
    <div class="row m-2">
        <div class="col-md-12">
            <h3>Data Loader</h3>
            <hr>
            <div class="row">
                <div class="col-4">
                    <form action="/upload" method="POST" class="dropzone dz mx-auto" id="dropzone"
                        style="width: 100%; ">
                        {% csrf_token %}
                        <div class="fallback">
                            <input name="file" type="file" />
                        </div>
                    </form>
                </div>
                <div class="col-7">
                    <form action="/loader" method="POST">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-6 ">
                                <div class="form-group row">
                                    <label for="file-type" class="col-sm-6">File Type</label>
                                    <select class="form-control col-sm-6" name="filetype">
                                        <option value="csv">CSV</option>
                                        <option value="json">JSON</option>
                                        <option value="xlsx">XLSX</option>
                                        <option value="html">HTML</option>
                                    </select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-6">Variable Name</label>
                                    <input class="form-control col-sm-6" type="text" name="variable" placeholder="">
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-6" for="file">Choose File</label>
                                    <select class="col-sm-6" name="filename" id="">
                                        {% for file in files %}
                                        <option value="{{ file }}">{{ file }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 offset-2">Encoding</label>
                                    <select class="form-control col-sm-6" name="encoding">
                                        <option>utf-8</option>
                                        <option>latin</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <button type="submit" style=" right: 1px; bottom: 1px; background-color:orange;"
                                        class="btn col-sm-6 offset-6">Load Dataframe</button>
                                </div>
                            </div>

                        </div>


                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Logs</label>
                    <div style="background-color: white; height: 25px;">

                        <p style="color: green; margin: 1px;">{{ loaderMsg }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <hr>
</div>

<!-- 
<div class="cell m-2 ">
    <div class="row m-2">
        <div class="col-md-12 ">

            <form action="/table" method="GET" style="display: inline;">
                {% csrf_token %}
                <label for="file">Choose File: </label>
                <select name="varname" id="">
                    {% for file in varlist %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Show Table</button>
            </form>

            <form action="/cols" method="GET" style="display: inline; float: right">
                {% csrf_token %}
                <button type="submit">GET COLUMNS</button>
                {{ cols }}
            </form>

        </div>
    </div>
</div> -->

{% for cell in opdata %}
{% if currentCell == cell.name %}
<div class="currentCell">
    {% include cell.type %}
</div>
{% else %}
<div>
    {% include cell.type %}
</div>
{% endif %}

{% endfor %}

{% endblock %}