<div class="cell m-2 " style="height: 450px; background-color:#868484">
    <div class="row">
        <div class="col-md-12">
            <h4 style="left: 15px; top: 10px;position: relative; color: white">Data</h4>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-md-10 mt-3 cell" style="height: 350px; background-color: white; overflow: scroll">
            {% include 'table.html' %}
        </div>

        <div class="vis-input col-md-2" style="position: relative; top :30px">
            <form action="">
                {% csrf_token %}
                <div class=" row" style="color: white; font-size: 16px; ">
                    <div class="col-md-12 mt-1">
                        <div class="form-group">
                            <label for="varname" >Variable</label>
                            <select class="form-control" style="background-color: #c4c4c4" name="varname">
                                <option>var 1</option>
                                <option>Variable 2</option>
                                <option>Var 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-light"> Show </button>
            </form>
        </div>

    </div>

</div>