{% load custom_templates %}
<div class="table-div">

    <table class="table table-checked" ">
        <thead>
            <tr>
                {% for header in headers|lookup:cell.name %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
    
            {% for row in data|lookup:cell.name %}
            <tr>
                {% for val in row %}
                <td>
                    {{ val }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
    
        </tbody>
    </table>
</div>


<div class=" array-div">
        [{{ headers|lookup:cell.name }}
        {% for row in data|lookup:cell.name %}
        <div>
            {{ row }}
        </div>
        {% endfor %}]
</div>