<div class="cell m-2 outer-cell">
    <form action="/exec/regressor" method="POST" class="form">
        {% csrf_token %}
        <div class="row m-2">
            <div class="col-md-12">
                <h4><b>REGRESSOR</b></h4>
                <hr style="border-color: white;">
                <div class="row">
                    <div class="col-6 ">

                        <div class="form-group row">
                            <label for="Variable" class="col-sm-4">Variable</label>
                            <select name="varname" id="" class="form-control col-sm-4">
                                {% for var in varlist %}
                                {% if var == cell.data.varname %}
                                <option value="{{ var }}" selected>{{ var }}</option>
                                {% else %}
                                <option value="{{ var }}">{{ var }} </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="clean-operation" class="col-sm-4">Model</label>
                            <select class="form-control col-sm-4" id="ml-regressor" name="model">
                                <option value="Linear Regression">Linear Regression</option>
                                <option value="SVM Regression">SVM Regression</option>
                                <option value="Decision Tree Regression">Decision Tree</option>
                                <option value="Random Forest Regression">Random Forest</option>
                                <option value="KNN Regression">KNN</option>
                                <!-- <option value="noramlizer">Normalizer</option>
                                <option value="standardizer">Standardizer</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="offset-1 col-5">

                        <div class="form-group row">
                            <label for="col-name" class="col-5">Target Column</label>
                            <input class="form-control col-4" type="text" name="col_name"
                                value="{{ cell.data.col_name }}" placeholder="" required>
                        </div>

                        <div class="form-group row">
                            <label for="new-varname" class="col-5">New Variable</label>
                            <input class="form-control col-4" type="text" name="new_varname" placeholder=""
                                value="{{ cell.data.new_varname }}" required>
                        </div>

                        <div class="row">
                            <input type="hidden" value="{{ cell.name }}" name="cellname">

                            <button type="submit"
                                style=" right: 1px; bottom: 1px; background-color:#EB3F3F; color:white"
                                class="btn col-sm-4 offset-5"><b>TRAIN</b></button>
                            <!-- <p style="color: green;">{{ cell.data.msg }}</p> -->
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <label>Logs</label>
                        <div style="background-color: black; height: 30px;">

                            <b style="color: white; padding: 2px;">{{ cell.data.msg }}</b>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <hr style="border-color: white;">
</div>